body {
    font-family: "Poppins";
    font-size: 22px;
  }
  
  table,
  th,
  td {
    border: 1px solid black;
    padding: 15px;
    border-collapse: collapse;
  }
  
  .formControl {
    margin-left: 0px;
    margin-top: 0px;
    width: 526px;
  }
  
  .sec_1 {
    color: rgb(255, 253, 253);
    background-color: rgb(22, 0, 122);
    padding: 1px;
    text-align: center;
    border-radius: 20px;
    margin: 50px;
  }
  .sec_2 {
    text-align: center;
    padding: 10px;
    margin: 50px;
    border: 2px solid black;
    border-radius: 20px;
  }
  .formGroup {
    padding: 0px;
    margin: 50px;
    border: 2px solid black;
    border-radius: 20px;
  }
  .btn btn-primary {
    padding: 10px;
  }
  #add {
    padding: 5px;
    margin-left: 50px;
  }
  #clear {
    padding: 5px;
    margin-left: 20px;
  }
  #items {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 50px;
    border-width: 4px;
  }
  #description {
    margin: 30px;
    width: 50%;
    margin-bottom: 20px;
  }
  #descr {
    margin: 30px;
    text-align: left;
    margin-bottom: 0px;
  }
  #titl {
    margin: 30px;
    margin-bottom: 0px;
  }
  #title {
    margin: 30px;
    margin-bottom: 0px;
  }
  #et {
    margin: 30px;
  }
  